#heading {
  font-size: 8rem;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 30%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#back {
  clip-path: ellipse(75% 100% at 51% 0%);
  background-color:#E2E3E5;
  height: '300%';
}
